


table{
    border: 1px solid black;
}

tr, td{
    border: 1px solid black;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: #CCCCCC;
    text-align: center;
    color: purple;
    font-weight: bold;
}

.container{
    display: flex;
    justify-content: center;
}


.showMines {
    background-color: red;
}

.boom {
    color: white;
    font-size: 20px;
}

.flag {
    background-color: blue;
}
